/* Estilos del navbar */
body {
  margin: 0;
  padding: 0;
  display: grid;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #92a885;
  position: relative;
}
/* recipeweb */
.navbar img {
  width: 50px; /* Ajusta el tamaño del logo */
  height: auto;
  object-fit: contain; /* Asegura que el logo se ajuste bien dentro del contenedor */
  margin-right: 2px;
}
.contenedor-logo {
  display: flex;
  align-items: center; /* Alinea verticalmente el logo y el texto */
}

.navbar a.logo-text {
  font-size: 0.7em; /* Tamaño del texto del logo */
  color: white;
  text-decoration: none;
}

.boton-menu-desplegable {
  margin: 10px 10px;
  background-color: #92a885;
  border: none;
  cursor: pointer;
}

/* Estilos para el menú desplegable */
.dropdown {
  display: none;
  position: absolute;
  z-index: 999;
  top: 100%;
  background-color: #92a885;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 10px;
  transition: all ease-out 2s;
}

.toggle:checked + .boton-menu-desplegable + .dropdown {
  display: flex;
  position: absolute;
}

.dropdown a {
  display: block;
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
}

.dropdown a:hover {
  color: gray;
  transition: all ease 1s;
}

/* carrousel */
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 500px; /* Cambiar a 500px */
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 100%; /* Adaptar a la altura completa del carrusel */
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
  height: 100%; /* Adaptar a la altura completa */
}
.carousel__slide:nth-child(1) {
  background-image: url("/imagenes/1slider.png"); /* Asegúrate de poner la ruta correcta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la diapositiva */
  background-position: center; /* Centra la imagen dentro de la diapositiva */
  background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la diapositiva */
}
.carousel__slide:nth-child(2) {
  background-image: url("/imagenes/2slider.png"); /* Asegúrate de poner la ruta correcta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la diapositiva */
  background-position: center; /* Centra la imagen dentro de la diapositiva */
  background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la diapositiva */
}
.carousel__slide:nth-child(3) {
  background-image: url("/imagenes/1slider.png"); /* Asegúrate de poner la ruta correcta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la diapositiva */
  background-position: center; /* Centra la imagen dentro de la diapositiva */
  background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la diapositiva */
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 3em; /* Aumentar el tamaño del número */
  transform: translate3d(-50%, -50%, 70px); /* Ajustado para centrar */
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 20px; /* Ajustar el espacio inferior */
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 2rem; /* Ajustar el tamaño de los botones */
  height: 2rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%; /* Centrar los botones */
  margin-top: -2rem; /* Ajustar la posición de los botones */
  width: 3rem; /* Aumentar el tamaño de los botones */
  height: 3rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
  overflow: hidden;
}

.carousel::before,
.carousel__prev {
  left: 1rem;
  overflow: hidden;
}

.carousel::after,
.carousel__next {
  right: 1rem;
  overflow: hidden;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2rem; /* Aumentar el tamaño del ícono */
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* SECCION 1 */
.section-1 {
  display: flex;
  justify-content: center;
  padding: 50px 30px;
  background-color: #a3be93;
}
.div-informacion-1 {
  width: fit-content;

  height: 300px;
  display: flex;
  justify-content: inline;
  align-items: center;
}
.foto-info {
  width: 500px;
  max-width: 500px;
  height: 320px;
  border-radius: 20px;
  animation: slideInFromLeft 2s ease forwards;
}
.contenido-1 {
  padding: 0px 10px;
  margin: 0 100px;
  display: block;
  width: fit-content;
  height: fit-content;

  background-color: gray;
  border-radius: 10px;
  border: 2px solid black;
  animation: slideInFromRight 2s ease forwards;
}
.titulo-1 {
  text-align: center;
  font-size: 30px;
}
.texto-1 {
  text-align: justify;
  padding: 10px;
  font-size: 30px;
}
/* SECCION 2 */
.section-2 {
  margin: 3px 0px;
  width: 100%;
  height: auto;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  background-color: #a3be93;
  align-items: center;
}
.div-informacion-2 {
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  animation: aparecer 5s;
  background-color: #FBFAF6;
}
.titulo-2 {
  text-align: center;
  font-size: 30px;
  background-color: #FFFBEA;
}
.texto-2 {
  text-align: center;
  font-size: 30px;
}
.enlace-2 {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0px auto 30px auto;
}
.enlace-2:hover {
  color: white;
}

/* SECCION 3 */
.section-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.parte3-1,
.parte3-2,
.parte-medio {
  opacity: 0; /* Inicia oculto para un efecto de entrada */
}

/* Animación de entrada de parte3-1 desde la izquierda */
.parte3-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0px;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 0.5s;
}

/* Animación de entrada de parte3-2 desde la derecha */
.parte3-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0px;
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 0.5s;
}

/* Animación de entrada de parte-medio desde abajo */
.parte-medio {
  width: 2px;
  height: 90%;
  background-color: #000;
  animation: slideInFromBottom 1s ease forwards;
  animation-delay: 1s;
}

.titulo3-1, .titulo3-2 {
  width: fit-content;
  margin-bottom: 10px;
}

.imagen3-1, .imagen3-2 {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
}

/* Animaciones */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); /* Inicia desde fuera de la pantalla a la izquierda */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Llega a su posición final */
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Inicia desde fuera de la pantalla a la derecha */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Llega a su posición final */
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%); /* Inicia desde fuera de la pantalla en la parte inferior */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* Llega a su posición final */
    opacity: 1;
  }
}
@keyframes aparecer {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8FA07D;
  padding: 10px 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo i {
  font-size: 30px;
  margin-right: 5px;
}

.footer-logo span {
  font-weight: bold;
}

.footer-follow {
  font-size: 16px;
  font-weight: bold;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icons i {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
}

.divider {
  margin: 0 5px;
  font-size: 18px;
  font-weight: bold;
}
