/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------------------------------------------------*/

/*-----------------------------------HEADER Y NAV--------------------------------------------*/

header {
  background-color: #92a885;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(146, 168, 133, 0.3); /* Sombra en el header */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px; /* Tamaño del logo */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el nombre */
}

.website-name {
  font-size: 24px;
  margin: 0;
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border-bottom: 3px solid transparent; /* Barra invisible por defecto */
  transition: border-color 0.3s ease, border-width 0.3s ease; /* Transición suave */
}

/* Barra debajo del enlace cuando el ratón está sobre él y que no desaparezca */
nav ul li a:hover,
nav ul li a:focus {
  border-bottom: 3px solid #92a885; /* Barra verde que aparece al pasar el mouse o al hacer clic */
}

/* Estilos para el menú desplegable */
.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #92a885;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.submenu li {
  margin-left: 0;
}

.submenu li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent; /* Barra invisible por defecto en el submenu */
  transition: border-color 0.3s ease, border-width 0.3s ease; /* Transición suave */
}

/* Barra debajo del enlace del submenu cuando el ratón está sobre él */
.submenu li a:hover,
.submenu li a:focus {
  border-bottom: 3px solid #92a885; /* Barra verde en el submenu */
}

/* Mostrar submenú al pasar el mouse */
nav ul li:hover > .submenu {
  display: block;
}
/*------------------------------------------------------------------------------------------------*/

/* ---------------------------------Estilos para el footer -------------------------------------- */
.footer {
  background-color: #92a885; /* Color de fondo del footer */
  color: white;
  display: flex;
  justify-content: space-between; /* Alinear los elementos a los lados */
  padding: 20px;
  align-items: center; /* Alineación vertical de los elementos */
  box-shadow: 0 -4px 10px rgba(146, 168, 133, 0.3); /* Sombra sobre el footer */
}

.footer-left {
  display: flex;
  align-items: center;
}

.logo-footer {
  width: 50px; /* Tamaño del logo */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el nombre */
}

.website-name-footer {
  font-size: 16px;
  margin: 0;
  text-decoration: none;
  color: white;
}

.footer-right {
  display: flex;
  gap: 20px; /* Espacio entre los iconos */
}

.social-icon {
  font-size: 30px; /* Tamaño de los iconos */
  color: white; /* Color de los iconos */
  text-decoration: none; /* Eliminar subrayado */
  transition: color 0.3s ease; /* Transición suave al pasar el ratón */
}

.social-icon:hover {
  color: #acc59e; /* Color al pasar el ratón */
}
