/* Estilos generales */
body {
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------------------------------------------------*/

/*-----------------------------------HEADER Y NAV--------------------------------------------*/

header {
  background-color: #92a885;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(146, 168, 133, 0.3); /* Sombra en el header */
  font-family: "Gorditas";
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px; /* Tamaño del logo */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el nombre */
}

.website-name {
  font-size: 24px;
  margin: 0;
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border-bottom: 3px solid transparent; /* Barra invisible por defecto */
  transition: border-color 0.3s ease, border-width 0.3s ease; /* Transición suave */
}

/* Barra debajo del enlace cuando el ratón está sobre él y que no desaparezca */
nav ul li a:hover,
nav ul li a:focus {
  border-bottom: 3px solid #92a885; /* Barra verde que aparece al pasar el mouse o al hacer clic */
}

/* Estilos para el menú desplegable */
.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #92a885;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.submenu li {
  margin-left: 0;
}

.submenu li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent; /* Barra invisible por defecto en el submenu */
  transition: border-color 0.3s ease, border-width 0.3s ease; /* Transición suave */
}

/* Barra debajo del enlace del submenu cuando el ratón está sobre él */
.submenu li a:hover,
.submenu li a:focus {
  border-bottom: 3px solid #92a885; /* Barra verde en el submenu */
}

/* Mostrar submenú al pasar el mouse */
nav ul li:hover > .submenu {
  display: block;
}
/*------------------------------------------------------------------------------------------------*/

/* Carrusel */
.carrusel {
  position: relative;
  width: 90%;
  max-width: 67%;
  height: 350px;
  display: flex;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  margin: 60px auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
}

/* Columna izquierda (imagen) */
.slide .image {
  width: 80%;
  background-color: #f1f1f1;
  display: flex;
}

.slide .image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

/* Columna derecha (texto y botones) */
.slide .text {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #f4f8f1;
}

.slide .text h2 {
  font-family: "Gorditas", cursive;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.slide .text p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  text-align: left;
}

.slide .text button {
  background-color: #ff7d47;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.slide .text button:hover {
  background-color: #e7663a;
}

/* Botones de navegación */
input[type="radio"] {
  display: none;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.controls label {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls label:hover {
  background-color: #666;
}

#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide1:checked ~ .slide .controls label[for="slide1"],
#slide2:checked ~ .slide .controls label[for="slide2"],
#slide3:checked ~ .slide .controls label[for="slide3"] {
  background-color: #333;
}

/*----------------- ZONA MENU DEL DIA -------------- */
.menu-container {
  /* Contenedor general de la seccion de la web */
  background-color: #fbfaf6;
  width: 85%; /* Ajustamos el ancho al 85% */
  max-width: 65%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 60px auto; /* Centrado */
  position: relative; /* Necesario para que el texto se posicione relativo al contenedor */
  display: flex;
  justify-content: space-between; /* Mantiene los elementos separados */
}

.menu-header {
  /*  Titulo de la seccion  */
  font-family: "Gorditas", serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px;
  background-color: white;
  border: 2px solid #333;
  border-radius: 5px;
  position: absolute; /* Posición absoluta para superponer */
  top: -15px; /* Ajusta la posición hacia arriba */
  left: -0px; /* Hace que sobresalga un poco del contenedor */
  z-index: 10; /* Se asegura de que esté por encima del contenedor */
}

.menu-info {
  /* MENU DE DESCRIPCION DE LA SECCION */
  flex: 0 0 35%; /* La sección de texto ocupa el 35% del ancho del contenedor */
  vertical-align: top;
}

.menu-description p {
  font-family: "Italiana";
  font-size: 22px;
  color: #333;
  font-weight: lighter;
  font-style: oblique;
  text-align: left;
}

.menu-items {
  /* CONTENEDOR DE CADA RECETA DEL DIA */
  flex: 0 0 60%; /* La sección de imágenes ocupa el 60% del ancho */
  display: flex;
  justify-content: space-between;
}

.menu-item {
  text-align: center;
  width: 48%; /* Las imágenes ocupan el 48% del espacio disponible */
}

.menu-item img {
  width: 100%;
  max-width: 200px; /* Tamaño máximo de las imágenes */
  border-radius: 10px;
  margin-bottom: 10px;
}

.menu-item a,
p {
  font-family: "helvetica";
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
/* ----------------------------------------SECCION TIENES QUE PROBARLO -----------------------------------*/

h1 {
  /* Titulo de la seccion */
  font-family: "Gorditas", cursive;
  font-size: 36px;
  margin: 20px 0;
  color: #333;
  text-align: center;
}

.cards-container {
  /* Contenedor general*/
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 90%;
}

.card {
  /* Cada contenedor individual */
  background-color: #f4f8f1;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
}

.card img {
  /* Las imagenes del contenedor */
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  /* Los titulos de cada plato de cada contenedor individual */
  font-family: "helvetica";
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.card .details {
  /* Detalles del plato o postre, KCAL PROTEINAS ETC */
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin: 3%;
  background-color: #fdf3ed;
  border-radius: 15%; /* Redondea las esquinas */
  border: 1px solid #f1eae6;
}

.card .details div {
  color: #666;
}

.card button {
  /* Cada boton que muestra el contenido de la receta */
  background-color: #ffa07a;
  width: 90%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-family: "Gorditas", cursive;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #ff7f50;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.buttons-container button {
  background-color: #ffa07a;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  font-family: "Gorditas", cursive;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons-container button:hover {
  background-color: #ff7f50;
}
/*----------------------------------------------------------------------------------------------- */

/* ---------------------------------Estilos para el footer -------------------------------------- */
.footer {
  background-color: #92a885; /* Color de fondo del footer */
  color: white;
  display: flex;
  justify-content: space-between; /* Alinear los elementos a los lados */
  padding: 20px;
  align-items: center; /* Alineación vertical de los elementos */
  box-shadow: 0 -4px 10px rgba(146, 168, 133, 0.3); /* Sombra sobre el footer */
  font-family: "Gorditas";
}

.footer-left {
  display: flex;
  align-items: center;
}

.logo-footer {
  width: 50px; /* Tamaño del logo */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el nombre */
}

.website-name-footer {
  font-size: 16px;
  margin: 0;
  text-decoration: none;
  color: white;
}

.footer-right {
  display: flex;
  gap: 20px; /* Espacio entre los iconos */
}

.social-icon {
  font-size: 30px; /* Tamaño de los iconos */
  color: white; /* Color de los iconos */
  text-decoration: none; /* Eliminar subrayado */
  transition: color 0.3s ease; /* Transición suave al pasar el ratón */
}

.social-icon:hover {
  color: #acc59e; /* Color al pasar el ratón */
}
